body {
  background-color: grey;
  font-family: cursive;
}

table {
  border-spacing: 15px;
}

img
{
  height: 300px;
}

img:hover
{
  background-color: orange;
  color: orange;
  height: 500px;
}

.tag:hover
{
  background-color: orange;
}

.council {
  text-decoration: underline;
}

.c {
  text-decoration: underline;
}
