body {
  background-color: slategrey;
  background-image: url("../images/c10.jpg");
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    font-family: cursive;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

.p {
  text-align: center;
}

.ca {
  height: 150px;
  margin-left: 800px;
}

.cc {
  height: 150px;
}

.td {
  padding-left: 100px;
  padding-top: 100px;

}

.tb {
  padding-left: 15px;
  text-align: center;

}

.hh {
  text-align: left;
}


.wc {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
}
